* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin-top: 63px;
}

.header__title {
    margin-bottom: 40px;
    display: block;

    color: #000;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__title--blue {
    color: #4BCAFF;
}

.nav__list {
    display: flex;
    justify-content: center;

    background-color: #35444F;
}

.nav__list-item {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 24px 40px 18px;
}

.nav__list-item:hover {
    background-color: #222F3A;
    transition: .25s;
}

.nav__list-item a {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section__inner {
    display: flex;
    gap: 53px;
    margin-top: 49px;
}

.aside {
    min-width: 344px;
}

.aside__list {
    border: 1px solid #000;
}

.aside__item {
    padding: 26px 44px;
}

.aside__item:hover {
    background-color: #DBDBDB;
    transition: .45s;
}

.aside__item:hover a {
    color: #000;
    transition: .45s;
    padding-left: 35px;
}

.aside__item a {
    vertical-align: center;
    color: #485863;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.active-color a {
    color: #495863;
}

.main {
    display: block;
    width: 100%;
}

.img__block {
    border: 1px solid #000;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 529px;
}

.img {
    vertical-align: center;
    margin: 79px;
}

.content {
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    margin: 37px 0 54px;
}

.paragraph {
    padding-bottom: 13px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #63696E7A;
    padding: 0 40px;
    margin-bottom: 30px;
}

.footer__nav-list {
    display: flex;
}

.footer-nav__list_item {
    padding: 20px 12px;
}

.footer-nav__list_item:hover a {
    color: #3181A6;
    text-decoration: underline;
    transition: .25s;
}

.footer-nav__list_item a {
    color: #0C1927;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.copyright {
    color: #010101;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}